@model List<RTCTorrent.UI.Models.TorrentModel>

@{
    ViewBag.Title = "RtcTorrent";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/knockout-2.2.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.0.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalR/hubs")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/Configuration.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/User.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/Peer.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/Client.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/Torrent.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/typings/custom/FileContent.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var client = new RtcTorrent.Client();
        ko.applyBindings(client);
        @* TODO: handle this with ajax requests on the listing of "torrents" *@
        @foreach (var item in Model)
        {
            <text>client.trackerFiles.push(
            {
                id: '@item.Id',
                name: '@item.Name',
                seeders: '@item.Seeders',
                leechers: '@item.Leechers',
                size: '@item.Size',
                files: ['@string.Join("','", item.Files)']
            });</text>
        }
    </script>
}

<div>My files</div>
<div>
    <!-- ko foreach: torrents()-->
    <div>
        <div data-bind="text: $data.name()"></div>
        <div>Peers</div>
        <ul data-bind="foreach: peers()">
            <li data-bind="text: $data.id()"></li>
        </ul>
        <div>Torrents</div>
        <ul data-bind="foreach: files()">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
    <!-- /ko -->​
</div>

<div>Tracker files</div>
<div>
    <!-- ko foreach: trackerFiles()-->
    <div data-bind="text: $data.name, click: $parent.loadTorrent.bind($data)"></div>
    <!-- /ko -->​
</div>
